@{
    ViewData["Title"] = "路由管理";
}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>类型</th>
            <th>状态</th>
            <th>IP</th>
            <th>ClientIP</th>
            <th>标签</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in RouterManager.Models.GlobalModel.Routers)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.TypeTitle</td>
            <td>@item.Status</td>
            <td>@item.IP</td>
            <td>@item.ClientIP</td>
            <td>
            @foreach (var  tag in item.Tags)
            {
                <div class="glyphicon glyphicon-tag label label-info"> @tag</div>
            }
            </td>
            <td>
                <button class="btn btn-sm btn-info btn-reconnect" data-id="@item.Id">重连</button>
            </td>
        </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $("body").delegate(".btn-reconnect", "click", function (e) {
            var obj = $(this);
            obj.text("正在重新连接...");
            $.post("@Url.Action("Reconnect","Router")", { id: obj.data("id") }, function (data) {
                obj.text(data);
                setTimeout(function () {
                    obj.text("重连");
                }, 500);
            });
        });
    </script>
}